body {
  width: 1020px;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
}

ul {
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

header {
  width: 1020px;
  height: 89px;
  background-color: #2d303a;
}

.logo {
  display: none;
}

.logo-icon {
  display: inline-block;
  margin: 0px 0px 11px 40px;
  font-size: 25px;
}

nav {
  display: inline-block;
  padding-top: 40px;
  margin-right: 39px;
  width: 822px;
  text-align: right;
}

nav > ul > li {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  line-height: 6px;
  letter-spacing: -0.1px;
  vertical-align: middle;
  color: #ffffff;
  list-style: none;
  cursor: pointer;
}

nav > ul > li:first-child {
  color:#f06c64;
}

nav > ul > li:hover {
  color:#f06c64;
}

.nav__dot {
  width: 0.5px;
  height: 0.5px;
  margin: 0 10.50px;
  vertical-align: middle;
  background-color: #494e62;
  border: 1px solid #494e62;
  border-radius: 50%;
  cursor: default;
}

.line-header {
  width: 1020px;
  height: 6px;
  background-color: #323746;
}

.slider {
  width: 1020px;
  height: 594px;
  background-color: #f06c64;
  background-image: url("assets/mobile.png");
}

.slider__btn {
  position: relative;
  top: 280.76px;
  bottom: auto;
  display: inline-block;
  width: 16px;
  height: 27px;
  cursor: pointer;
}

.slider__btn_back {
  margin-left: 41.50px;
  background-image: url("assets/back.png");
}

.slider__btn_back:hover {
  background-image: url("assets/back_hover.png");
}

.slider__btn_next {
  left: 903.44px;
  right: 39.40px;
  background-image: url("assets/next.png");
}

.slider__btn_next:hover {
  background-image: url("assets/next_hover.png");
}

.line-slider {
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}

.services {
  width: 1020px;
  height: 494px;
  background-color: #f2f2f2;
}

.services__header {
  margin: 0;
  padding: 68px 0 26.50px 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  line-height: 18px;
  color: #666d89;
}

.services__description {
  width: 940px;
  height: 57px;
  margin: 0;
  padding-left: 40px;
  padding-bottom: 47px;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40.21px;
  padding-right: 39.40px;
}

.services__item {
  display: flex;
  align-items: flex-start;
  width: 300px;
  height: 93px;
  margin-bottom: 30px;
  margin-right: 19px;
  text-align: justify;
  line-height: 22px;
  overflow: hidden;
}

.services__item:last-child,
.services__item:nth-child(3) {
  margin-right: 0;
}

.services__item:nth-child(2),
.services__item:nth-child(5){
  width: 301px;
}

.services__item:nth-child(4),
.services__item:nth-child(5),
.services__item:nth-child(6) {
  margin-bottom: 0px;
}

.service__description {
  width: 219px;
  height: 128px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #767e9e;
}

.service__icon {
  display: block;
  margin-right: 18px;
  padding-top: 2px;
}

.services__item:nth-child(2) > .service__icon,
.services__item:nth-child(5) > .service__icon {
  margin-right: 19px;
}

.service__name {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  line-height: 18px;
  color: #666d89;
}

.line-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}

.portfolio {
  padding: 68px 40px 67px 40px;
  height: 729px;
  background-color: #2d303a;
}

.portfolio__title {
  padding-bottom: 27px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.portfolio__description {
  padding-bottom: 11px;
  width: 940px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  color: #767e9e;
}

.portfolio__nav {
  display: block;
  margin-bottom: 19px;
  padding: 0;
}

.portfolio__nav-item {
  display: inline-block;
  margin-right: 6px;
  padding: 4px 7px;
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #767e9e;
  cursor: pointer;
}

.portfolio__nav-item:hover {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.portfolio-line {
  height: 6px;
  background-color: #323746;
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 601px;
  overflow: hidden;
}

.portfolio__img {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #464b5e;
}

.resume {
  height: 593px;
  padding: 67px 40px 67px 40px;
  background-color: #f2f2f2;
  color: #767e9e;
}

.resume__title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.resume__description {
  padding: 27px 0 45px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
}

.resume__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
}

.resume__item {
  width: 300px;
}

.resume__item:nth-child(2) {
  margin-right: 2px;
}

.resume__employee-name {
  padding: 17px 0 10px 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.resume__employeee-description {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
}

.resume__communication > a {
  margin-right: 3px;
  text-decoration: none;
}

.resume__social-icon:hover {
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 50%;
}

.resume__communication {
  margin: 23px 0;
}

.resume-line {
  height: 6px;
  background-color: #ffffff;
}


h2,
h3,
p {
  margin: 0;
  padding: 0;
}

input {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-writing-mode: none;
  text-rendering: none;
  color: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: none;
  font: none;
  background-color: none;
  -webkit-rtl-ordering: none;
  cursor: text;
  border: 0;
  border-width: none;
  border-style: none;
  border-color: none;
  border-image: none;
}

input::-moz-placeholder,
input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: left;
}

.relation {
  padding: 0 40px;
  height: 648px;
  background-color: #f06c64;
  color: #f0d8d9;
}

.relation__title {
  padding: 68px 0 27px 0;
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
  text-align: left;
}

.relation__description {
  padding-bottom: 47px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
}

.relation__main {
  display: flex;
}

.message > input {
  margin-bottom: 16px;
  padding-left: 14px;
  width: 605px;
  height: 38px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  background-color: #d6564f;
}

::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder  {
  font-size: 12px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: #f0d8d9  !important;;
  text-align: left !important;
}

form {
  width: 700px;
}

.message__content {
  padding-bottom: 164px !important;
}

.message__btn {
  padding: 2px 10px;
  font-size: 14px;
  color: #d6564f;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.message__btn:hover {
  background-color: #d6564f;
  color: #ffffff;
}

.contacts {
  padding-left: 20px;
}

.contacts__title {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  text-align: left;
}

.contacts__description {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  text-align: justify;
}

.contacts__item {
  display: flex;
  text-align: start;
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
}

.contacts__item > a {
  color: #f0d8d9;
  text-decoration: none;
}

.contacts__item > a:hover {
  padding: 0;
  box-sizing: border-box;
  border-bottom: 0.1px #f0d8d9 solid;
}

.contacts__item > span {
  margin-right: 13px;
  margin-left: 2px;
  width: 10px;
  text-align: center;
  vertical-align: middle;
}

.contacts__item img {
  padding-bottom: 3px;
}

.relation-line {
  height: 6px;
  background-color: #ea676b;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 39px 0 40px;
  height: 76px;
  color: #666d89;
  background-color: #2d303a;
}

footer > h3 {
  padding-bottom: 1px;
  font-size: 12px;
  font-weight: 300;
}
footer img {
  margin-left: 3px;
  cursor: pointer;
}

footer img:hover {
  background-color: rgba(247, 238, 238, 0.027);
  border-radius: 50px;
}
